* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body {
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

}
a {
    text-decoration: none;
    display: inline-block;
}


/* Navigation */

.main-nav {
    background: #000;
    height: 48px;
    overflow: hidden;
}

.main-nav-content {
    max-width: 980px;
    margin: 0 auto;
    height: 100%;        
     
}

.main-nav-content .main-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;  
    position: relative;
}

.main-nav-content .main-menu li {
    padding: 0px 8px;
    opacity: 0.7;
}


.main-nav-content .main-menu .nav-link-text {
    font-size: 12px;
    color: #f5f5f7;
}

.main-menu #nav-link-apple-logo {
    
    position: absolute;
    top: 3px;
    left: 0px;
}

.main-menu #nav-link-bag-logo {
    position: absolute;
    top: 5px;
}

.main-menu #nav-link-search-logo  {
    position: absolute;
    top: 5px;
}

.main-nav-content .main-menu li:hover {
    opacity: 1;
}


/* Section 1 */

.homepage-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 14px;
}

/* Section 1 (iphone-13-pro) */
.homepage-section #iphone-13-pro {
    background-image: url("images/iphone-13-pro.jpg");
    height: 624px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center; 
}

#iphone-13-pro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 84px;
}

#iphone-13-pro-content h2 {
    font-size: 56px;
    color: #1d1d1f;
    font-weight: 600;
    line-height: 1.07143;
    margin: 0 auto;
    
}

#iphone-13-pro-content h3 {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.10722;
    color: #1d1d1f;
    margin-top: 6px;
}

#iphone-13-pro-content .links {
    margin-top: 14px;
}

#iphone-13-pro-content .links a {
    font-size: 21px;
    font-weight: 400;
    color: #06c;
}

#iphone-13-pro-content .links a:nth-of-type(2) {
    margin-left: 35px;
}

#iphone-13-pro-content .links i {
    font-size: 14px;
    margin-left: 6px;
}

#iphone-13-pro-content .links a:hover .link-text {
    text-decoration: underline;
    color: #06c;
}

/* Section 1 (iphone-SE) */

.homepage-section #iphone-SE {
    background-image: url("images/iphone-SE.jpg");
    height: 624px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center; 
}

#iphone-SE-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 84px;
}

#iphone-SE-content img {
    height: 55px;
    width: 221px;
}

#iphone-SE-content:first-child {
    font-size: 21px;
    font-weight: 600;
}

#iphone-SE-content h3 {
    font-size: 28px;
    font-weight: 400;
    margin-top: 6px;
}

#iphone-SE-content .links {
    margin-top: 14px;
}

#iphone-SE-content .links a {
    font-size: 21px;
    font-weight: 400;
    color: #06c;
}

#iphone-SE-content .links a:nth-of-type(2) {
    margin-left: 35px;
}

#iphone-SE-content .links i {
    font-size: 14px;
    margin-left: 6px;
}

#iphone-SE-content .links a:hover .link-text {
    text-decoration: underline;
    color: #06c;
}


/* Section 1 (ipad air) */

.homepage-section #ipad-air {
    background-image: url("images/ipad-air.jpg");
    height: 624px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

#ipad-air-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 192px;
    position: absolute;
    margin: 0 auto;
    width: 40%;
    top: 56px;
    left: 68px;
    
}

#ipad-air-content img {
    height: 53px;
    width: 193px;
}

#ipad-air-content h3 {
    font-size: 28px;
    font-weight: 400;
    color: #f5f5f7;
    margin-top: 6px;
}

#ipad-air-content .links {
    margin-top: 14px;
}

#ipad-air-content .links a {
    font-size: 21px;
    font-weight: 400;
    color: #06c;
}

#ipad-air-content .links a:nth-of-type(2) {
    margin-left: 35px;
}

#ipad-air-content .links i {
    font-size: 14px;
    margin-left: 6px;
}

#ipad-air-content .links a:hover .link-text {
    text-decoration: underline;
    color: #06c;
}



