* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body {
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

}
a {
    text-decoration: none;
    display: inline-block;
}


/* Navigation */

.main-nav {
    background: #000;
    height: 48px;
}

.main-nav-content {
    /*border: 2px solid red;*/
    max-width: 980px;
    margin: 0 auto;
    height: 100%;                  
}

.main-nav-content .main-menu {
    /*border: 1px solid yellow;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;                 
}

.main-nav-content .main-menu li {
    padding: 0px 8px;
}

.main-nav-content .main-menu .nav-link-text {
    font-size: 12px;
    color: #f5f5f7;
}


#nav-link-apple-logo {
    background-image: url("images/apple.png");
    height: 44px;
    width: 16px;
    /*background-repeat: no-repeat;
    width: 16px;
    background-size: 16px 44px;*/
}






