* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

}


/* NAVIGATION */

.nav {
    background: #000;
    height: 48px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav__content {
    max-width: 980px;
    margin: 0 auto;
    height: 100%;       
}

.nav__list {
    height: 100%;
}


.nav__list--flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;   
}

.nav__link {
    padding: 0px 8px;
    opacity: 0.7;
}

.nav__link:hover {
    opacity: 1;
}

.nav__link span {
    font-size: 12px;
    color: #f5f5f7;
}

.nav__brand--clr-wht {
    color: #fff;
}


/* GRID - 1 */

.promo--grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 14px;
}

/* Promotion - 1 */
.promo-1 {
    background-image: url("images/iphone-13-pro.jpg");
    height: 624px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center; 
}

.promo-1__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 84px;
}

.promo-1__h2 {
    font-size: 56px;
    color: #1d1d1f;
    font-weight: 600;
    line-height: 1.07143;
    margin: 0 auto;
    
}

.promo-1__h3 {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.10722;
    color: #1d1d1f;
    margin-top: 6px;
}

.promo-1__multi-links {
    margin-top: 14px;
}

.promo-1__links {
    font-size: 21px;
    font-weight: 400;
    color: #06c;
}

.promo-1__multi-links a:nth-of-type(2) {
    margin-left: 35px;
}

.promo-1__links i {
    font-size: 14px;
    margin-left: 6px;
}

.promo-1__links  span {
    text-decoration: underline;
    color: #06c;
}




/* Promotion -2 */

.promo-2 {
    background-image: url("images/iphone-SE.jpg");
    height: 624px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center; 
}

.promo-2__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 84px;
}

.promo-2__img {
    height: 55px;
    width: 221px;
}

.promo-2__h4 {
    font-size: 21px;
    font-weight: 600;
}

.promo-2__h3 {
    font-size: 28px;
    font-weight: 400;
    margin-top: 6px;
}

.promo-2__links {
    margin-top: 14px;
}

.promo-2__links a {
    font-size: 21px;
    font-weight: 400;
    color: #06c;
}

.promo-2__multi-links a:nth-of-type(2) {
    margin-left: 35px;
}

.promo-2__links i {
    font-size: 14px;
    margin-left: 6px;
}

.promo-2__links span {
    text-decoration: underline;
    color: #06c;
}


/* Promotion - 3 */

.homepage-section #ipad-air {
    background-image: url("images/ipad-air.jpg");
    height: 624px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

#ipad-air-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 192px;
    position: absolute;
    margin: 0 auto;
    width: 40%;
    top: 56px;
    left: 68px;
    
}

#ipad-air-content img {
    height: 53px;
    width: 193px;
}

#ipad-air-content h3 {
    font-size: 28px;
    font-weight: 400;
    color: #f5f5f7;
    margin-top: 6px;
}

#ipad-air-content .links {
    margin-top: 14px;
}

#ipad-air-content .links a {
    font-size: 21px;
    font-weight: 400;
    color: #06c;
}

#ipad-air-content .links a:nth-of-type(2) {
    margin-left: 35px;
}

#ipad-air-content .links i {
    font-size: 14px;
    margin-left: 6px;
}

#ipad-air-content .links a:hover .link-text {
    text-decoration: underline;
    color: #06c;
}

/*section 2 */
.homepage-section-promo {
    margin: 10px;
}

.homepage-section-promo-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

#wwdc-wrapper {
    background-image: url("images/wwdc.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 580px;
    width: 100%;
    position: relative;
}

#wwdc-wrapper #wwdc-wrapper-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#wwdc-wrapper #wwdc-wrapper-content h5 {
    color: #c6e1e6;
    font-size: 21px;
    font-weight: 400;
    margin-top: 9px;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.2381;
}

#wwdc-wrapper #wwdc-wrapper-content .promo-links {
    margin-bottom: 53px;
    margin-top: 12px;

}

.promo-links a {
    font-size: 17px;
    font-weight: 400;
    color: #06c;
}


.promo-links {
    margin-top: 14px;
}


.promo-links a:nth-of-type(2) {
    margin-left: 35px;
}

.promo-links i {
    font-size: 14px;
    margin-left: 6px;
}

.promo-links a:hover .link-text {
    text-decoration: underline;
    color: #06c;
}

/*Macro*/

#macro-wrapper {
    background-image: url("images/macro.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 580px;
    width: 100%;
}

#macro-wrapper #macro-wrapper-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;

}

#macro-wrapper #macro-wrapper-content h4 {
    font-size: 40px;
    color: #f5f5f7;
    font-weight: 600;
    line-height: 1.1;
    text-align: center;
    margin-top: 52px;
}

#macro-wrapper #macro-wrapper-content h5 {
    font-size: 21px;
    font-weight: 400;
    margin-top: 8px;
    color: #f5f5f7;
} 

/*studio*/

#studio-wrapper {
    background-image: url("images/studio.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 580px;
    width: 100%;
}

#studio-wrapper-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#studio-wrapper #studio-wrapper-content h4 {
    font-size: 40px;
    color: #1d1d1f;
    font-weight: 600;
    line-height: 1.1;
    text-align: center;
    margin-top: 52px;
}

#studio-wrapper #studio-wrapper-content h5 {
    font-size: 21px;
    font-weight: 500;
    margin-top: 8px;
    color:  #1d1d1f;
} 


/* mac */
#mac-wrapper {
    background-image: url("images/mac.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 580px;
    width: 100%;
}

#mac-wrapper-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mac-wrapper #mac-wrapper-content h4 {
    font-size: 40px;
    color: #1d1d1f;
    font-weight: 600;
    line-height: 1.1;
    text-align: center;
    margin-top: 52px;
}

#mac-wrapper #mac-wrapper-content h5 {
    font-size: 21px;
    font-weight: 500;
    margin-top: 8px;
    color:  #1d1d1f;
} 



#grd-itm-5-wrapper {
    background-image: url("images/grid-item-5.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 580px;
    width: 100%;
}


#grd-itm-5-wrapper-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}


#grd-itm-5-wrapper-content h4{
    font-size: 40px;
    color: #1d1d1f;
    font-weight: 600;
    line-height: 1.1;
    text-align: center;
    margin-top: 52px;
    width: 70%;
}

#grd-itm-6-wrapper {
    background-image: url("images/grid-item-6.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 580px;
    width: 100%;
}

#grd-itm-6-wrapper-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

#grd-itm-6-wrapper-content #slw-horses-top {
    margin-top: 58px;
}

#grd-itm-6-wrapper-content h6 {
    font-size: 21px;
    font-weight: 500;
    margin-top: 8px;
    color:  #f5f5f7;
}

#grd-itm-6-wrapper-content #slw-horses-btm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 38px;
}